body {
  margin: 0;
  background-color: #e6df7e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.escenario {
  position: relative;
  width: 750px;
  height: 500px;
  overflow: hidden;
  border: 3px solid #5b3b1e;
  border-radius: 12px;
  background: #0000; /* si falta fondo, el img .fondo lo cubrirá */
}

.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hud {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 20;
}

.contador {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.icono {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.objeto {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
  z-index: 10;
  user-select: none;
}

.objeto:hover {
  transform: scale(1.12);
}

.flor {
  width: 50px;
}

.flor1 { bottom: 80px; left: 120px; }
.flor2 { bottom: 90px; left: 250px; }
.flor3 { bottom: 85px; left: 380px; }

.muñeco {
  width: 70px;
}
.muneco1 { top: 220px; left: 420px; }
.muneco2 { top: 200px; left: 520px; }
.muneco3 { top: 210px; left: 600px; }

/* Caracol y piedras */
.caracol {
  width: 90px;
  bottom: 40px;
  left: 30px;
}
.piedras {
  width: 100px;
  bottom: 10px;
  right: 10px;
}

/* Animables */
.animable { position: absolute; z-index: 5; pointer-events: none; }

.mariposa {
  width: 70px;
  top: 60px;
  left: 100px;
  animation: volar 4s infinite ease-in-out alternate;
}

@keyframes volar {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(-30px) rotate(15deg); }
}

.cabeza {
  width: 90px;
  bottom: 15px;
  right: 410px;
  animation: caminar 3s infinite alternate;
}

@keyframes caminar {
  0% { transform: translateX(0); }
  100% { transform: translateX(80px); }
}




.saltar {
  animation: salto 0.5s ease forwards;
}
@keyframes salto {
  0% { transform: translateY(0); opacity: 1; }
  30% { transform: translateY(-60px); }
  100% { transform: translateY(0); opacity: 0; }

}
.moverMariposa {
  animation: moverMariposa 2s linear infinite alternate;
}

@keyframes moverMariposa {
  0% {
    trasform: translateY(0); 
  }
  100% {
    transform: translateY(-40px); 
  }

}